* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%!important;
}

.row {
	min-width: 100%;
}

.columns {
	padding-left:0;
	padding-right:0;
}

.medium-4 {
	float: left;
}

.posts-list {
	padding-left: 0.875em;
	padding-right: 0.875em;
	margin-top: 30px;
}

.hashtag-title {
	background: #222;
	text-align: center;
	padding: 15px 0;
}

.hashtag-title h1 {
	color: #fff;
}

.col-title {
	text-align: center;
	padding: 10px 0;
}

.col-title h2 {
	color: #fff;
	font-size: 2em;
	transition: all 0.35s;
}

.notch {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #000;
	position: absolute;
	margin-left: -20px;
}

/* --- Vine --- */

.vine-title {
	background: #16F4D0;
}

.vine-title > .notch {
	border-top: 20px solid #16F4D0;
}

.vine-container > .in-view {
	width: 100%;
}

/* --- Twitter --- */

.twitter-title {
	background: #429EA6;
}

.twitter-title > .notch {
	border-top: 20px solid #429EA6;
}


/* --- Instagram --- */

.insta-posts p {
	margin:0;
}

.insta-title {
	background: #153B50;
}

.insta-title > .notch {
	border-top: 20px solid #153B50;
}

.insta-img img {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	margin-right: 20px;
}

.insta-img,
.insta-details {
	float: left;
}

.insta-details p {
	margin: 0;
}

.fa-heart {
	color: #EA3788;
}

/* --- Footer --- */

.footer {
	clear: both;
    width:100%;
    line-height:50px;
    background:#aaa;
    color: #fff;
    text-align: center;
}
